.main-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  // margin: 100px 0 0 0;
}

.transition-main {
  margin: 0 0 0 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.display-notes {
  width: 52%;
  display: flex;
  flex-wrap: wrap;
  // margin: 70px 0 0 0;
}

.pin-title {
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 100;
  align-self: start;
  width: 51%;
  // max-width: 718px;
  margin: auto;
  padding: 10px;
}

// Single note

#display-card {
  min-width: 230px;
  max-width: 230px;
  // display: 'flex',
  // justifyContent: 'center'
  margin: 0 8px 16px 8px;
  height: fit-content;
}

.create-note-card {
  display: flex;
}

.display-icons-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.icons-padding {
  padding: 5px;
  color: #656565;
  cursor: pointer;
}

.pin-icon {
  padding: 10px 5px 0px 0;
}

// Edit note

@media screen and (max-width: 1420px) and (min-width: 1024px) {
  .display-notes {
    width: 73%;
    max-width: 740px;
  }

  .pin-title {
    width: 70%;
    max-width: 718px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 901px) {
  .main-display {
    transition-duration: unset;
    transition-timing-function: unset;
    margin: 0 0 0 0;
  }

  .transition-main {
    transition-duration: unset;
    transition-timing-function: unset;
    margin: 0 0 0 0;
  }

  .display-notes {
    width: 82%;
    max-width: 738px;
  }

  .pin-title {
    width: 79%;
    max-width: 710px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .main-display {
    transition-duration: unset;
    transition-timing-function: unset;
    margin: 0 0 0 0;
  }

  .transition-main {
    transition-duration: unset;
    transition-timing-function: unset;
    margin: 0 0 0 0;
  }
  .display-notes {
    width: 82%;
    max-width: 500px;
  }

  .pin-title {
    width: 55%;
    max-width: 472px;
    min-width: 480px;
  }
}

@media only screen and (max-width: 600px) {
  .main-display {
    transition-duration: unset;
    transition-timing-function: unset;
    margin: 0 0 0 0;
  }

  .transition-main {
    transition-duration: unset;
    transition-timing-function: unset;
    margin: 0 0 0 0;
  }

  #display-card {
    width: 100%;
    max-width: unset;
    margin: 0 8px 16px 8px;
    height: fit-content;
    min-width: unset;
  }

  .display-notes {
    width: 100%;
  }

  .pin-title {
    width: 100%;
  }

  .display-card {
    width: 100px;
    padding: 100px;
  }
}
